/*Authors: Suraj Khanal, Prajwal Dhungana, Rita Khadka, Upendra Adhikari
  Date: 11-28-2022*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffd6d6;

    align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li:hover{
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}
.col2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col2 img {
  max-width: 100%;
  padding: 50px 0;
  height: 500px;
  width: 650px;
  align-items: flex-end;

}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff, #ffd6d6);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 .img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
   
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 20px;
    margin-top:200px;
    transition: transform 0.5s;

}
.col-4 img{
    width: 100%;   
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #ff523b;
}
.col-4:hover{
    transform: translateY(-8px);
}
/*------------- offer -----------------*/
.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
  padding: 50px;
  transition: transform 0.5s;
}
.col-2 .offer-img:hover{
  transform: translateY(-8px);
}
small{
  color: #555;
}

/*------------footer----------------*/
.footer{
  bottom: 0;
  background: #000;
  color: #8a8a8a;
  height:100%;
  font-size: small;
  position:relative;
  width:100%;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex-basis: 1;
  text-align:center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}
.app-logo{
  margin-top:20px;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}
.copyright{
  text-align: center;
}
.menu-icon{
  width: 25px;
  margin-left:20px;
  display: none;
}

/*------------------media query for menu---------*/
@media only screen and (max-width: 700px){
  nav ul{
    position: absolute;
    top: 150px;
    left: 0;
    background: #333;
    height : 5%;
    width: 100%;
    overflow: hidden;
    transition: max-height 1s;
    text-align: center;
  }
  
  nav ul li{
    font-size: small;
    margin-top: 5px;
    margin-left : 5px;
    padding-top: 5px;
    display: flexbox;
  }
  nav ul li a{
    color: #fff;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }

}

/*------------------media query for menu---------*/
@media only screen and (max-width: 380px){
  
  nav ul li{
    font-size: 10px;
    margin-top: 5px;
    margin-left : 2px;
    padding-top: 5px;
    display: flexbox;
  }
  
  nav ul li a{
    color: #fff;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }

}

/*----------------------Category-----------------*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
  border: 1px solid #ff523b;
  padding: 5PX;
}
select:focus{
  outline:none;
}
.page-btn{
  margin: 0 auto 80px;
}
.page-btn span{
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover{
  background: #ff523b;
  color: #fff;
}
/*------------------ single product details------------------*/
.single-product{
  margin-top: 80px;
}
.single-product col-2 img{
  padding:0;
  margin: 30px;
}
.single-product col-2{
  padding: 20px;
}
.single-product h1{
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
} 
.single-product select{
  display:block;
  padding: 10px;
  margin-top: 20px;
}
.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
input:focus{
  outline: none;
}
.single-product .fa{
  color: #ff523b;
  margin-left: 10px;
}
.small-img-row{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
.single-product{
  background-color: #ffd6d6;
}

/*---------------  cart item details-------------------*/
.cart-page{
  margin: 80px auto
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display:flex;
  flex-wrap:wrap;
}
.cart-info-detail{
  display: block;
  padding-left: 5px;
}
th{
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}
td{
  padding: 10px 5px;
}

td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a{
  color: #ff523b;
  font-size: 12px;
}
td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price{
  display:flex;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width:400px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}

/*------------------- account-page --------------*/
.account-page{
  padding: 50px 0;
  background: radial-gradient(#fff, #ffd6d6);
}
.form-container{
  background: #fff;
  width: 300px;
  height: 370px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
  overflow: hidden;
  padding-left: 10px;
  padding-right:10px;

}
.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn{
  display: inline-block;
}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 70px;
  transition: transform 1s;
}
form input{
  width: 100%;
  height: 50px;
  margin: 5px 0;
  padding: 0 10px;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 15px;
}

form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus{
  outline: none;
}
#LoginForm{
  left: 0px;
}
#RegForm{
  left: -300px;
}
form a{
  font-size: 12px;
}
#Indicator{
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translate(100px);
  transition: transform 1s;
}
.contact-info{
  text-align: center;
  display:grid;
  text-shadow: #555;
}






/*-------------- Web Form styling ------------*/

figure{
  display:inline-block;
  padding-left:5em;
  padding-right:5em;
  text-align: center;   
}

.container-pizza{
  width:100%;
  height:100%;
  margin:0px;
  background:rgb(236, 166, 183);
  border-radius: 0.0012px;
  position:relative;
  padding:10px 20px;
  margin-right:300px;

}
.container-pyi form{
  color:#060606;
  background:rgb(236, 166, 183);
  position:relative;

}
form{
  padding:10px 20px;
  
}

table{
  width:100%;
  text-align:left;
  border-collapse:collapse;
  padding:10px 20px;
  
  
}
.container-toppings img{
  size: 20px;
 border-radius: 100em; 
}

.suggestion p{
  text-align:center;
  color:#900826;
  font-style:italic;
  font-size:small;
}

button{
  text-align: center;
  position:relative;
  background: #ff523b;
  padding: 20px 30px;
  padding-left : 5em;
  padding-right:5em;
  font-size: 16px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
  border:none;
  border-radius: 20px;
  transition:.4s ease-in;
  z-index: 1;
}
.button1:hover{
  background:#ff523b;
  box-shadow: 0 0 5px #1c1b1b, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}
.button2:hover{
  background:#ff523b;
  box-shadow: 0 0 5px #080808, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
}
.submitbar{
  text-align: center;
  padding:40px 40px;
  
 
}

/*------------------media query for less than 800 screen size---------*/
@media only screen and (max-width: 800px){

    .row{
      text-align: center;   
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
      text-align: left;
    }
    .single-product .col-2{
      padding: 20px 0;
    }
    
    .single-product h1{
      font-size: 26px;
      line-height: 32px;
    }
    .cart-info-detail p{
      display: none;
    }
    .button {
      text-align: center;
      margin-top: 20px;
  }
  
}


@media screen and (max-width:400px) 
{

   .button {
    text-align: center;
    margin-top: 20px;
}

}

/* Styling google maps */
.google-maps {
  position: relative;
  padding-bottom: 75%; 
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Making current page red on the website */
#currentPage {
    color : red;
}
  





 
  



